<div id="container">
  <div id="header">
    <h1>Natal, the city of the sun</h1>

    <ul id="navigation">
      {{#linkTo 'index'}}Home{{/linkTo}}
      {{#linkTo 'map'}}Map{{/linkTo}}
      {{#linkTo 'tips'}}Tips{{/linkTo}}
    </ul>
  </div>

  <div id="sidebar">
    {{render 'facts'}}
  </div>

  <div id="content">
    {{outlet}}
  </div>
  
  <div id="footer">
    <p>by Elomar Souza, 2013. No rights reserved.</p>
  </div>
</div>

