<h2>Intro</h2>

<p>
  Natal (Portuguese pronunciation: [naˈtaw], Christmas) is the capital and largest city of Rio Grande do Norte, a northeastern state in Brazil.
  As of the IBGE July 2009, the city had a total population of 806,203 (1,263,547 in its Greater Natal).
  Natal is considered by IPEA (Institute of Applied Economic Research of Brazil), the safest capital city in the country.
</p>
<p>
  The implementation of the Via Costeira (Coastal Highway), 10 km (5.5 mi) long avenue along the shore and the dunes,
  was the true starting point for the beginning of tourist activity in the State in the 1980s.
  That is where the main hotels of the capital city, Natal, are concentrated.
  Natal has several tourist attractions and is famous for its natural beauty (such as the crystalline waters of Maracajaú and the largest cashew tree in the world),
  for its historical monuments and buildings (such as the Forte dos Reis Magos, the Alberto Maranhão Theatre and Newton Navarro bridge),
  for its beaches (such as Ponta Negra, Pipa and Genipabu) and also for its off-season carnival, the Carnatal.
  The city also boasts the second largest urban park in Brazil, the Parque das Dunas.
</p>
<p>
  It is the capital of Brazil closest to Africa and Europe, and the Augusto Severo International Airport connects Natal with many Brazilian cities and also operates some international flights.
  The city is one of the host cities of the 2014 FIFA World Cup, for which Brazil is the host nation.
</p>

<p><em>source: <a href="http://en.wikipedia.org/wiki/Natal,_Rio_Grande_do_Norte">wikipedia</a></em></p>

