<h2>Tips</h2>

<p>Take a look at some cool tips of things to do in Natal:</p>

{{#each controller}}
  <div class="tip">
    <h3>{{title}}</h3>
    <p>{{body}}</h3>
    <p class="author">says {{name}}</p>
  </div>
{{/each}}

<p>
  Don't see something that should be there? {{#linkTo 'tips.new'}}Leave your tip!{{/linkTo}}
</p>
