<h2>Sign up</h2>

<form>
  <fieldset>
    <label><b>Email</b>
      {{view Ember.TextField valueBinding='view.email'}}
    </label>
    <label><b>Password</b>
      {{view Ember.TextField type="password" valueBinding='view.password'}}
    </label>
    <label><b>Confirm your password</b>
      {{view Ember.TextField type="password" valueBinding='view.password_confirmation'}}
    </label>
    <input type="submit" {{action save}} value="Sign up">
  </fieldset>
</form>

